<div class="row footer-center">
  <div class="col-md-10 col-md-offset-1">
    <nav id="footer">
      <ul>
        <li><%= link_to "HOME", root_path %></li>
        <% if !current_user %>
        <li><%= link_to "LOG IN", login_path %></li>
        <li><%= link_to "REGISTER", new_user_path %></li>
        <% else %>
        <li><%= link_to "PROFILE", user_path(current_user) %></li>
        <li><%= link_to "EDIT PROFILE",  edit_user_path(current_user) %></li>
        <li><%= link_to "DELETE", delete_user_path(current_user) %></li>
        <li><%= link_to "LOG OUT", logout_path, method: :delete %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>
